body {
  margin: 0;
  padding: 0;
  user-select: none;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  padding-top: 50px;
}

.main-content,
#form-el {
  display: flex;
  flex-direction: column;
}

.main-content {
  width: auto;
  max-width: 500px;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightpink;
}

.cart-img {
  max-width: 300px;
  margin: 10px auto;
}

#form-el {
  margin: 20px 0;
  padding: 0 60px;
}

#form-el > * {
  border-width: 0;
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
  font-weight: bold;
  font-size: 18px;
}

#form-el > *:not(:last-child) {
  margin-bottom: 10px;
}

.input-el {
  text-align: center;
  color: tomato;
  background-color: lavenderblush
}

.input-el:focus {
  outline-color: tomato;
}

.input-el::placeholder {
  color: lightpink;
}

.gotocart-btn {
  color: lightcoral;
  background-color: black;
  border: 1px solid mediumspringgreen;
}

.gotocart-btn:hover {
  background-color: tomato;
  color: lavenderblush;
}

.shoppingListEl {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  list-style: none;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  color: mintcream;
  background-color: lightcoral;
  cursor: pointer;
}

li:hover {
  background-color: pink;
}

li.noItems {
  border: none;
  color: orangered;
  background-color: transparent;
  text-shadow: 1px 1px 1px khaki;
  font-size: 16px;
  text-align: left;
  text-transform: lowercase;
  cursor: default;
  padding: 0;
}